
.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  
}

#display{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  border-radius: 8px;
  padding-top: 20px;
}
.sound{
  border-radius: 5px;
  outline: #FFC0CB solid 3px;
  background-color: #fdd2d9;
  font-size: 21px;
  font-weight: 600;
  color: #6be06b;
  width: 100px;
  height: 40px;
  border: none;
}
.sound-wild{
  border-radius: 5px;
  outline: #f9f9f9 solid 3px;
  background-color: #ff6b6b;
  font-size: 21px;
  font-weight: 600;
  color:  #ffd166;
  width: 100px;
  height: 40px;
  border: none;
}
#drum-machine{
  display: flex;
  align-items: center;
  gap: 50px;
}
.animal-data{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
img.dom-images{
  outline: solid #6be06b 10px;
  border-radius: 4px;
}
img.wild-images {
  outline: solid #f9f9f9 10px;
  border-radius: 4px;
}
header{
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.animal-class{
  display: flex;
  justify-content: center;
  height: 100vh;
}
@media screen and (max-width : 600px){
.animal-class{
  display: flex;
  flex-direction: column;
  height: auto;
}
h3.click{
  font-size: 15px;
}

#drum-machine{
  display: flex;
flex-direction: column;
font-size: 25px;
gap: 10px;
}
header{
  font-size: 21px;
}
.switch-button{
  width: 45px;
}
img{
  position: relative;
}
.body{
  position: relative;
  bottom: -30px;
}
.click{
  font-size: 20px;
  color: #6be06b;
}
.click-wild{
  font-size: 20px;

}
.kids{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kids-wild{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#kids{
  font-size: 10px;
}
#kids-wild{
  font-size: 10px;
}
}

@media (min-width:601px) and (max-width: 1000px){ 
  #drum-machine{
    display: flex;
    flex-direction: row;
  }
  header{
    max-width: 300px;
  }
  .click{
    font-size: 25px;
  }
  .click-wild{
    font-size: 25px;
  }
}

@media screen  and (min-width: 1001px) {
  .click{
    font-size: 35px;
  }
  .click-wild{
    font-size: 35px;
    font-weight: 800;
  }
}

#kids{
  font-size: 30px;
  color: #FFC0CB;
  font-weight: 600;
}
#kids-wild{
  font-size: 30px;
  color: #ff6b6b;
  font-weight: 600;
}
.kids{
  color: #6be06b;
  font-weight: 800;
}
.kids-wild{
  color: #06d6a0;
  font-weight: 800;
}

.click-span{
  background-color: #fdd2d9;
  padding: 2px;
  border-radius: 3px;
}
button.switch-button {
  width: 63px;
  background:rgb(192, 183, 183);
  height: 30px;
  border-radius: 7px;
}
.inner-switch{
  background: #6be06b;
  height: 20px;
  width: 20px;
}
h3.click{
  
  color: black;
  font-weight: 800;
}
.click-wild{
  color: #06d6a0;
}

.switch-button {
  border: none;
  cursor: pointer;
  position: relative;
}

.inner-switch {
  width: 20px;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  border-radius: 100px;
}

.switched {
  transform: translateX(50px);
}

.button-text{
  display: flex;
  flex-direction: row;
  align-items: center;
}
h3.click{
  padding-left: 20px;
}
.animal-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}