.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

#display{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  border-radius: 8px;
}
.sound{
  border-radius: 5px;
  outline: black solid 3px;
  background-color: rgb(152, 152, 235);
  font-size: 19px;
  color: white;
}
.drum-pad{
  padding: 30px;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 20px;
border-radius: 4px;
}
#drum-machine{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}
.animal-data{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}